
<div class="container__small-card">
 <div class="container__smal-card-content">
    <div clas="small-card__photo">
        <img src="https://pm1.aminoapps.com/7014/08472a116a85f0bbd379b1af5d5f12c2026167b7r1-1920-1080v2_hq.jpg" 
         alt=""
          height="200px"
          srcset=""
        >
    </div>
    
    
    <div class="small-card__title">
        <h1><a href="https://www.globo.com/"> Saiu nova versão do Angular</a></h1>
    </div>
 </div>
   <div class="container__small-card-separator"><hr></div>
    
</div>
